
ENTREGA_G5_TP2/uartSPI/Debug/source/spi.d
ENTREGA_G5_TP2/uartSPI/Debug/source/sphericalPos.o
ENTREGA_G5_TP2/uartSPI/Debug/source/sphericalPos.d
ENTREGA_G5_TP2/uartSPI/Debug/source/pinsHandler.o
ENTREGA_G5_TP2/uartSPI/Debug/source/pinsHandler.d
ENTREGA_G5_TP2/uartSPI/Debug/source/i2c.o
ENTREGA_G5_TP2/uartSPI/Debug/source/i2c.d
ENTREGA_G5_TP2/uartSPI/Debug/source/gpio.d
ENTREGA_G5_TP2/uartSPI/Debug/source/FXOS8700CQ.o
ENTREGA_G5_TP2/uartSPI/Debug/source/FXOS8700CQ.d
ENTREGA_G5_TP2/uartSPI/Debug/source/coordHAL.o
ENTREGA_G5_TP2/uartSPI/Debug/source/coordHAL.d
ENTREGA_G5_TP2/uartSPI/Debug/source/comController2pc.o
ENTREGA_G5_TP2/uartSPI/Debug/source/comController2pc.d
ENTREGA_G5_TP2/uartSPI/Debug/source/can.o
ENTREGA_G5_TP2/uartSPI/Debug/source/can.d
ENTREGA_G5_TP2/uartSPI/Debug/source/boardsInterface.o
ENTREGA_G5_TP2/uartSPI/Debug/source/boardsInterface.d
ENTREGA_G5_TP2/uartSPI/Debug/source/App.o
ENTREGA_G5_TP2/uartSPI/Debug/source/App.d
ENTREGA_G5_TP2/uartSPI/Debug/source/accelerometer.o
ENTREGA_G5_TP2/uartSPI/Debug/source/accelerometer.d
ENTREGA_G5_TP2/uartSPI/Debug/SDK/startup/subdir.mk
ENTREGA_G5_TP2/uartSPI/Debug/SDK/startup/startup_mk64f12.o
ENTREGA_G5_TP2/uartSPI/Debug/SDK/startup/startup_mk64f12.d
ENTREGA_G5_TP2/uartSPI/Debug/SDK/startup/semihost_hardfault.o
ENTREGA_G5_TP2/uartSPI/Debug/SDK/startup/semihost_hardfault.d
ENTREGA_G5_TP2/uartSPI/Debug/SDK/startup/main.o
ENTREGA_G5_TP2/uartSPI/Debug/SDK/startup/main.d
ENTREGA_G5_TP2/uartSPI/Debug/SDK/startup/hardware.o
ENTREGA_G5_TP2/uartSPI/Debug/SDK/startup/hardware.d
ENTREGA_G5_TP2/uartSPI/Debug/SDK/CMSIS/system_MK64F12.o
ENTREGA_G5_TP2/uartSPI/Debug/SDK/CMSIS/system_MK64F12.d
ENTREGA_G5_TP2/uartSPI/Debug/SDK/CMSIS/subdir.mk
ENTREGA_G5_TP2/uartSPI/Debug/objects.mk
ENTREGA_G5_TP2/uartSPI/Debug/makefile
ENTREGA_G5_TP2/uartSPI/Debug/Blink_Debug_memory.ld
ENTREGA_G5_TP2/uartSPI/Debug/Blink_Debug_library.ld
ENTREGA_G5_TP2/uartSPI/Debug/Blink_Debug.ld
ENTREGA_G5_TP2/uartSPI/Debug/Blink_Debug.launch
ENTREGA_G5_TP2/uartSPI/Debug/Blink.map
ENTREGA_G5_TP2/uartSPI/Debug/Baliza.map
ENTREGA_G5_TP2/uartSPI/Baliza PE Release.launch
ENTREGA_G5_TP2/uartSPI/Baliza PE Debug.launch
ENTREGA_G5_TP2/uartSPI/.settings/language.settings.xml
ENTREGA_G5_TP2/uartSPI/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
ENTREGA_G5_TP2/uartSPI/.project
ENTREGA_G5_TP2/uartSPI/.cproject
ENTREGA_G5_TP2/PC/TP2_Micros.py
ENTREGA_G5_TP2/PC/SerialCommunicationHandler.py
ENTREGA_G5_TP2/PC/MessageHandler.py
ENTREGA_G5_TP2/PC/main.py
ENTREGA_G5_TP2/PC/GraphHandler.py
ENTREGA_G5_TP2/PC/CircuitBoard.py
ENTREGA_G5_TP2/Comunicación serie.pptx
ENTREGA_G5_TP2.rar
ENTREGA_G5_TP2/uartSPI/uartSPI PE Release.launch
ENTREGA_G5_TP2/uartSPI/uartSPI PE Debug.launch
ENTREGA_G5_TP2/uartSPI/source/uart.h
ENTREGA_G5_TP2/uartSPI/source/uart.c
ENTREGA_G5_TP2/uartSPI/source/timer.h
ENTREGA_G5_TP2/uartSPI/source/timer.c
ENTREGA_G5_TP2/uartSPI/source/SysTick.h
ENTREGA_G5_TP2/uartSPI/source/SysTick.c
ENTREGA_G5_TP2/uartSPI/source/spi.h
ENTREGA_G5_TP2/uartSPI/source/spi.c
ENTREGA_G5_TP2/uartSPI/source/sphericalPos.h
ENTREGA_G5_TP2/uartSPI/source/sphericalPos.c
ENTREGA_G5_TP2/uartSPI/source/pinsHandler.h
ENTREGA_G5_TP2/uartSPI/source/pinsHandler.c
ENTREGA_G5_TP2/uartSPI/source/i2c.h
ENTREGA_G5_TP2/uartSPI/source/i2c.c
ENTREGA_G5_TP2/uartSPI/source/FXOS8700CQ.h
ENTREGA_G5_TP2/uartSPI/source/FXOS8700CQ.c
ENTREGA_G5_TP2/uartSPI/source/coordHAL.h
ENTREGA_G5_TP2/uartSPI/source/coordHAL.c
ENTREGA_G5_TP2/uartSPI/source/comController2pc.h
ENTREGA_G5_TP2/uartSPI/source/comController2pc.c
ENTREGA_G5_TP2/uartSPI/source/can.h
ENTREGA_G5_TP2/uartSPI/source/can.c
ENTREGA_G5_TP2/uartSPI/source/boardsInterface.h
ENTREGA_G5_TP2/uartSPI/source/boardsInterface.c
ENTREGA_G5_TP2/uartSPI/source/boardIds.h
ENTREGA_G5_TP2/uartSPI/source/board.h
ENTREGA_G5_TP2/uartSPI/source/App.c
ENTREGA_G5_TP2/uartSPI/source/accelerometer.h
ENTREGA_G5_TP2/uartSPI/source/accelerometer.c
ENTREGA_G5_TP2/uartSPI/SDK/startup/startup_mk64f12.c
ENTREGA_G5_TP2/uartSPI/SDK/startup/semihost_hardfault.c
ENTREGA_G5_TP2/uartSPI/SDK/startup/main.c
ENTREGA_G5_TP2/uartSPI/SDK/startup/hardware.h
ENTREGA_G5_TP2/uartSPI/SDK/startup/hardware.c
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/system_MK64F12.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/system_MK64F12.c
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/mpu_armv8.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/mpu_armv7.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/MK64F12_features.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/MK64F12.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/fsl_device_registers.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/core_cm4.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/core_armv8mml.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/core_armv8mbl.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/cmsis_version.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/cmsis_iccarm.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/cmsis_gcc.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/cmsis_compiler.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/cmsis_armclang.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/cmsis_armcc.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/arm_math.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/arm_const_structs.h
ENTREGA_G5_TP2/uartSPI/SDK/CMSIS/arm_common_tables.h
ENTREGA_G5_TP2/uartSPI/Debug/uartSPI.map
ENTREGA_G5_TP2/uartSPI/Debug/uartSPI.axf
ENTREGA_G5_TP2/uartSPI/Debug/sources.mk
ENTREGA_G5_TP2/uartSPI/Debug/source/uart.o
ENTREGA_G5_TP2/uartSPI/Debug/source/uart.d
ENTREGA_G5_TP2/uartSPI/Debug/source/timer.o
ENTREGA_G5_TP2/uartSPI/Debug/source/timer.d
ENTREGA_G5_TP2/uartSPI/Debug/source/SysTick.o
ENTREGA_G5_TP2/uartSPI/Debug/source/SysTick.d
ENTREGA_G5_TP2/uartSPI/Debug/source/subdir.mk
ENTREGA_G5_TP2/uartSPI/Debug/source/spi.o
ENTREGA_G5_TP2/uartSPI/Debug/source/gpio.o
